/* Global Styles */

* { margin: 0;padding:0;box-sizing:border-box; }

body {
	background: url("IMAGES/stripes.png") repeat-x, url("IMAGES/background.jpg") no-repeat #52596b;
	background-size: auto, cover;
	color:#fff;
	font-size:20px;
	font-family: arial, helvetica, sans-serif;
}
section {
	margin:300px 0 0 200px;
}
hr {
	border: 1px solid #f00;
	margin: 1em 0;
	width:30px;
}

/* Body Elements */
.appStore {
	padding: 25px 0;
}
