/* Global Styles */

* { margin: 0;padding:0;box-sizing:border-box; }

body {
	background: url("IMAGES/background.jpg");
	background-color: #52596b;
	background-size: cover;
	color:#fff;
	font-size:20px;
	font-family: arial, helvetica, sans-serif;
}
section {
	margin:300px 0 0 200px;
}
hr {
	border: 1px solid #f00;
	margin: 1em 0;
	width:30px;
}

/* Body Elements */

.topBanner {
	background: url("IMAGES/stripes.png");
	background-repeat: repeat-x;
	height:12px;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
}

.appStore {
	padding: 25px 0;
}
